<% include partials/header %>

<div class="container">
    <h1 style="text-align: center">Landing Page</h1>
</div>
<div class="btn btn-primary" >
    <a href="/campgrounds" style="float: center; color: white">View All The Campgrounds</a>    
</div>

<% include partials/footer %>
